.title {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;

  font-size: clamp(48px, 8vw, 96px);
  line-height: 1.1;

  text-align: left;
  max-width: 12ch;

  letter-spacing: 1px;
}


/* Tablet */
@media (max-width: 1024px) {
  .title {
    max-width: 14ch;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .title {
    font-size: clamp(36px, 10vw, 56px);
    line-height: 1;
    max-width: 100%;
  }
}

/* Mobile pequeno */
@media (max-width: 480px) {
  .title {
    font-size: 32px;
  }
}