/* WRAPPER */
.wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
}

/* SUBTITLE */
.subtitle {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;

  font-size: clamp(38px, 4vw, 56px);
  line-height: 1.1;

  color: #ffffff;
  letter-spacing: 1px;
  
}

.subtitle span {
  color: inherit;
}



/* MOBILE */
@media (max-width: 768px) {
  .wrapper {
    align-items: center;
  }

  .subtitle {
    text-align: center;
  }
}